@charset "utf-8";

.foot {
	height: 100px;
	font-size: large;
	color: #ffffff;
	background-color: #222222;
}

.nav-margin-top {
	margin-top: 100px;
}

body {
	font-family: "宋体";
	font-size:;
}

.uhead-img{
	width:130px;
	height:130px;
	border: 1px solid orange;
}